*.py
*.pyc
CMakeLists.txt.user
.vs/
build/CMakeCache.txt
*.tlog
build/qrc_resources.cpp
build/Debug/
build/include/nodes/internal/moc_Compiler.cpp
build/include/nodes/internal/
build/NodeEditor_autogen/mocs_compilation.cpp
build/CMakeFiles/NodeEditor_autogen.dir/AutogenOldSettings_Debug.txt
