*.py
*.pyc
CMakeLists.txt.user
.vs/
*.tlog
build/Debug/
build/CMakeFiles/NodeEditor_autogen.dir/AutogenOldSettings_Debug.txt
build/Release/
build/CMakeFiles/NodeEditor_autogen.dir/AutogenOldSettings_Release.txt
